<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>

        <h1>Sign up to the event using this form</h1>

        <form action="#" th:action="@{/form}" method="POST">
            <p><label for="event">Event</label>: <input type="text" name="event" id="event"/></p>
            <p><label for="address">Address</label>: <input type="text" name="address" id="address"/></p>
            <p><label for="anon">Sign up anonymously</label>: <input type="checkbox" name="anon" id="anon"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        
        <p><a href="/signups">See all signups</a></p>
        <p th:if="${isAdmin}"><a href="/adminsignups">See all signups (for admins)</a></p>
    </body>
</html>
